h1{
    text-align: center;
    font-family: 'Tilt Warp', cursive;
    font-size: xx-large;
    color: brown;
}

h2{
    text-align: left;
    color:rgb(201, 201, 201);
    font-family: 'Tilt Warp', cursive;
    text-shadow: brown;
    font-size: x-large;
}

p{
    text-align: left;
    color: rgb(201, 201, 201);
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

.img{
    display: flex;
    justify-content: left;
}

.target{
    display: flex;
    justify-content: center;

    color: darkgreen;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;  
}

.Link{
    display: flex;
    justify-content: center;

    color: rgb(255, 217, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;  
}

#negrilla{
    display: flex;
    justify-content: left;

    color: rgb(201, 201, 201);
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;  
}

body{
    background-color:rgb(35, 33, 43);
}